body {
background-image: url("background.jpg");
background-size:100%;
}
.footer-hint {
    position: absolute;
    bottom: 5%; /* Расстояние от нижнего края страницы */
    left: 50%; /* Положение по горизонтали */
    transform: translateX(-50%); /* Центрирование по горизонтали */
    /*background-color: rgba(0, 0, 0, 0.5);  Цвет фона */
    color: #fff; /* Цвет текста */
    /*padding: 10px;  Внутренний отступ */
    /*border-radius: 5px;  Скругление углов */
}
